---
title: aiStudios
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Website + Android App for your <br>e-Commerce Business.
		<p style="background-color:black;">STARTING AT ONLY ₹5,999/-</p></h2>
		<p class="subtext editable">aiStudios is a digital marketing and a website designing company with highly qualified professionals. Our team is highly skilled and experienced in understanding the general consumer behaviours and moderating the UX of the website and mobile app according to the purchase behaviours.
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">STARTER</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Domain (.com/.in)</li>
          <li class="pricing-features-item">WordPress Theme Based</li>
          <li class="pricing-features-item">100% All Devices Responsive.</li>
          <li class="pricing-features-item">Email Integration.</li>
          <li class="pricing-features-item">Free Maintenance up to 2 Months - Post Launch.</li>
          <li class="pricing-features-item">Woocommerce Based.</li>
          <li class="pricing-features-item">Multi Lingual Options On Demand (Extra Charges).</li>
          <li class="pricing-features-item">up to 1-2 Revision In Initial Designs.</li>
          <li class="pricing-features-item">Payment Gateway Integration.</li>
          <li class="pricing-features-item">Live chat and Social media</li>
          <li class="pricing-features-item">Admin and Seller Dashboards</li>
          <li class="pricing-features-item">Reviews and Ratings</li>
          <li class="pricing-features-item">Promocode Generation</li>
          <li class="pricing-features-item">Order Management</li>
          <li class="pricing-features-item">Google Analytics</li>
          <li class="pricing-features-item">Editable Banners</li>
          <li class="pricing-features-item">Invoicing</li>
          <li class="pricing-features-item">Shopping Cart & Checkout</li>
          <li class="pricing-features-item">Vendor Account Integration</li>
          <li class="pricing-features-item">Special Offers & Promotions</li>
          <li class="pricing-features-item">SEO Setup</li>
          <li class="pricing-features-item">Unlimited Product Images</li>
          <li class="pricing-features-item">Hosting support on GoDaddy/Digital Oscen</li>
          <li class="pricing-features-item">Pay just 2999/- now and rest after delievery</li>
          </br></br>
        </ul>
        <span class="pricing-price">₹5,999</span><h5>+ 18% Gst</h5>
        <a href="/urban/contact/" class="pricing-button">Contact Us</a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Advance</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Domain (.com/.in)</li>
          <li class="pricing-features-item" style="color:red;">App for Android Phones</li>
          <li class="pricing-features-item">WordPress Theme Based</li>
          <li class="pricing-features-item">100% All Devices Responsive.</li>
          <li class="pricing-features-item">Email Integration.</li>
          <li class="pricing-features-item">Free Maintenance up to 2 Months - Post Launch.</li>
          <li class="pricing-features-item">Woocommerce Based.</li>
          <li class="pricing-features-item">Multi Lingual Options On Demand (Extra Charges).</li>
          <li class="pricing-features-item">up to 1-2 Revision In Initial Designs.</li>
          <li class="pricing-features-item">Payment Gateway Integration.</li>
          <li class="pricing-features-item">Live chat and Social media</li>
          <li class="pricing-features-item">Admin and Seller Dashboards</li>
          <li class="pricing-features-item">Reviews and Ratings</li>
          <li class="pricing-features-item">Promocode Generation</li>
          <li class="pricing-features-item">Order Management</li>
          <li class="pricing-features-item">Google Analytics</li>
          <li class="pricing-features-item">Editable Banners</li>
          <li class="pricing-features-item">Invoicing</li>
          <li class="pricing-features-item">Shopping Cart & Checkout</li>
          <li class="pricing-features-item">Vendor Account Integration</li>
          <li class="pricing-features-item">Special Offers & Promotions</li>
          <li class="pricing-features-item">SEO Setup</li>
          <li class="pricing-features-item">Unlimited Product Images</li>
          <li class="pricing-features-item">Hosting support on GoDaddy/Digital Oscen</li>
          <li class="pricing-features-item">Pay just 4,999/- now and rest after delievery</li>
        </ul>
        <span class="pricing-price">₹39,999</span><h5>+ 18% Gst</h5>
        <a href="/urban/contact/" class="pricing-button">Contact Us</a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Enterprise</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Domain (.com/.in)</li>
          <li class="pricing-features-item" style="color:red;">App for Android Phones</li>
          <li class="pricing-features-item" style="color:red;">App for IPhone Phones</li>
          <li class="pricing-features-item">WordPress Theme Based</li>
          <li class="pricing-features-item">100% All Devices Responsive.</li>
          <li class="pricing-features-item">Email Integration.</li>
          <li class="pricing-features-item">Free Maintenance up to 6 Months - Post Launch.</li>
          <li class="pricing-features-item">End-to-end Solution</li>
          <li class="pricing-features-item">Woocommerce Based.</li>
          <li class="pricing-features-item">Multi Lingual Options On Demand (Extra Charges).</li>
          <li class="pricing-features-item">up to 1-2 Revision In Initial Designs.</li>
          <li class="pricing-features-item">Payment Gateway Integration.</li>
          <li class="pricing-features-item">Live chat and Social media</li>
          <li class="pricing-features-item">Admin and Seller Dashboards</li>
          <li class="pricing-features-item">Reviews and Ratings</li>
          <li class="pricing-features-item">Promocode Generation</li>
          <li class="pricing-features-item">Order Management</li>
          <li class="pricing-features-item">Google Analytics</li>
          <li class="pricing-features-item">Editable Banners</li>
          <li class="pricing-features-item">Invoicing</li>
          <li class="pricing-features-item">Shopping Cart & Checkout</li>
          <li class="pricing-features-item">Vendor Account Integration</li>
          <li class="pricing-features-item">Special Offers & Promotions</li>
          <li class="pricing-features-item">SEO Setup</li>
          <li class="pricing-features-item">Unlimited Product Images</li>
          <li class="pricing-features-item">Hosting support on GoDaddy/Digital Oscen</li>
          <li class="pricing-features-item">Pay just 4,999/- now and rest after delievery</li>
        </br></br></br>
        </ul>
        <span class="pricing-price">₹79,999</span><h5>+ 18% Gst</h5>
        <a href="/urban/contact/" class="pricing-button">Contact Us</a>
      </div>
      
    </div>
  </div>
</div>
	</div>
</section>
